main
{
    display: flex;
    flex-direction: column;
}

a
{
    color: #4e7cb6;
    text-decoration: none;
}

.logo
{
    width: auto;
}

.company-information
{
    margin: auto;
    display: flex;
    justify-content: space-between;
    width: 65%;
}

.company-information__text
{
    width: 60%;
    display: flex;
    flex-direction: column;
}

.company-information__name
{
    font-size: 140%;
    font-weight: bold;
}

.company-information__contacts
{
    display: flex;
    width: 70%;
    justify-content: space-between;
}

.company-information__number
{
    margin: 0;
    color: #797977;
}

.line
{
    padding-top: 2%;
    margin: auto;
    width: 65%;
}

.pay
{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: auto;
    width: 65%;
}

.pay__nav
{
    display: flex;
    margin-bottom: 2%;
    font-size: 21px;
    width: 35%;
    justify-content: space-between;
    font-weight: bold;
    flex-wrap: wrap;
}

.pay__way
{
    display: flex;
    margin-bottom: 2%;
    width: 42%;
    justify-content: space-between;
    flex-wrap: wrap;
}

.pay__way a
{
    padding-top: 8px;
}

.pay__way_boxed
{
    background-color: #f3f3f3;
    border: solid #f3f3f3 8px;
}

.pay__information
{
    display: flex;
}

.pay__information input
{
    border: none;
    border-bottom: solid #dcdcdc 2px;
    background-color: #f7f7f7;
    padding-left: 2%;
    padding-bottom: 2%;
    margin-bottom: 9%;
    font-size: 15px;
}

.pay__information input::-webkit-input-placeholder {
    color: #c8c8c8;
}

.pay__information input::-moz-placeholder {
    color: #c8c8c8;
}

.card
{
    display: block;
    background-color: #f7f7f7;
    border: solid #f7f7f7 10px;
    border-radius: 10px;
    width: 250px;
    box-shadow: 0 14px 28px rgba(0,0,0,0.1), 0 10px 10px rgba(0,0,0,0.22);
}

.pay__systems
{
    width: 40%;
}

.card img
{
    display: block;
    margin-left: auto;
}

.card__number
{
    width: 80%;
}

.card__date-and-cvc input
{
    display: inline-block;
    width: 20%;
}

.card__cvc
{
    margin-left: 3%;
}

.pay p
{
    margin: 0;
}

.sum__input
{
    display: flex;
    justify-content: space-between;
    width: 110%;
}

.company-products
{
    margin: auto;
    width: 65%;
}

.company-products__gallery
{
    display: flex;
}

.sum
{
    margin-left: 5%;
    width: 35%;
}

.sum p
{
    font-weight: bold;
}

.sum input
{
    background-color: white;
}

.sum .sum__input:first-child > input
{
    border: none;
}

.sum button
{
    height: 20%;
    position: relative;
}

.sum span
{
    position: absolute;

    top: -30%;
    left: -20%;
    bottom: -30%;
    right: -20%;
    background: url("img/button.png");
    background-size: 100% 100%;
}

.company-products__name
{
    font-weight: bold;
    font-size: 20px;
}

.product
{
    border: solid #f6f6f6 1px;
    width: 210px;
    padding: 2% 2% 10%;
    flex-wrap: wrap;
    margin-top: 1%;
}

.product img
{
    display: block;
    margin: auto;
}

.company-products__gallery
{
    display: flex;
    justify-content: space-between;
    width: 90%;
    flex-wrap: wrap;
}

.product__name
{
    font-weight: bold;
}

.addition-information
{
    margin: auto;
    width: 65%;
    padding-top: 2%;
}

.addition-information p
{
    width: 70%;
}

.link
{
    background-color: #ececec;
    margin-right: 1%;
    border: solid #ececec 7px;
    border-radius: 10px;
}

footer
{
    margin: auto;
    padding-top: 1%;
    width: 65%;
}

footer section
{
    display: inline-block;
}

.link img
{
    width: 15px;
    height: 15px;
}

@media screen and (max-width: 768px)
{
    .company-information
    {
        flex-direction: column;
    }

    .pay__information
    {
        flex-direction: column;
        justify-content: space-between;
        height: 80%;
    }
}


